#services .title h2 span {
    color: #41878a;
  }

  #services .border-meghna:before {
    background-color: #41878a;
  }

  .about .title h2 span {
    color: #41878a;
  }
  
  .about .border-meghna:before {
    background-color: #41878a;
  }

  #blog .title h2 span {
    color: #41878a;
  }

  #blog .border-meghna:before {
    background-color: #41878a;
  }



.testimonial.team-photo:before {
    background: rgba(42,48,55,.35);
}

.member-photo .logo-partner {
  height: 70px;
  color: white;
  background-color: white;
}

.logo-partner.mi_research {
  scale: 1.4;
}

.logo-partner.mini {
  scale: 1.45;
}

.logo-partner.pw {
  scale: 0.75;
}